# standard
.idea
build

# auth to google
tokens

# secret data
.env
src/main/resources/datatable.properties
src/main/resources/main.properties
src/main/resources/credentials.json
src/main/resources/new_credentials.json

# hide files of logger
logger/*

# postgres database
postgres-data